MONGO_USER=seu_usuario_mongo
MONGO_PASS=sua_senha_mongo
MONGO_DB=playhub

JWT_KEY=sua-chave-jwt-super-secreta-com-no-minimo-32-chars
JWT_ISSUER=playhub
JWT_AUDIENCE=playhub

ENCRYPTION_KEY=sua-chave-super-secreta
