# MongoDB Configuration (Atlas)
MongoDB__ConnectionString=mongodb+srv://<user>:<password>@cluster.mongodb.net/playhub?retryWrites=true&w=majority
MongoDB__DatabaseName=playhub

# JWT Configuration
JWT_KEY=p1ayhub-32-chars-long-secret-key
JWT_ISSUER=playhub
JWT_AUDIENCE=playhub

# Security
ENCRYPTION_KEY=p1ayhub-32-chars-long-secret-key
