# MongoDB Configuration
MONGO_USER=your_mongo_user
MONGO_PASS=your_mongo_password
MONGO_DB=playhub
MONGO_CONN_STRING=mongodb://your_mongo_user:your_mongo_password@localhost:27017/playhub?authSource=admin

# JWT Configuration
JWT_KEY=p1ayhub-32-chars-long-secret-key
JWT_ISSUER=playhub
JWT_AUDIENCE=playhub

# Security
ENCRYPTION_KEY=p1ayhub-32-chars-long-secret-key
